body {
    width: 320px;
    font-family: "TT Lakes", sans-serif;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    body {
        width: 100%;
        font-family: "TT Lakes", sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        margin: 0;
        padding: 0;
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
    }
    .header {
        padding-left: 20px;
        box-sizing: border-box;
        height:80px;
        background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    }
    .header__description {
        color: #7E7E82;
        text-transform: uppercase;
        vertical-align: middle;
        }
    .main__container-hidden {
        display: none;
    }
    .firms__button-more {
        display: none;
    }
    .swiper-container {
        display: block;
        position: relative;
        margin-top: 16px;
    }
    .swiper-wrapper {
        border-radius: 10%;
        height: 200px;
        margin-left: 16px;
    }
    .swiper-slide {
        border: 1px solid gray;
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        background-color: #FFFFFF;
        border-radius: 5px;
        box-sizing: border-box;
    }
    .swiper__link {
        position: relative;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #FF3E79;
    }
    .swiper-pagination {
        z-index: 1000;
        position: static !important;
    }
    .swiper-pagination-bullet {
        background-color: #DDDDDD !important;
    }
    .swiper-pagination-bullet-active {
        background-color: #B5B6BC !important;
    }
    .swiper__link:focus, .swiper__link:active {
        background-color: #FF3E79;
        outline: none;
    }
    .swiper__link:focus > .a__arrow, .swiper__link:active > .a__arrow {
        border-bottom: 2px solid white;
        border-right: 2px solid white;
    }
    .a__arrow {
        width:8px;
        height: 8px;
        border-right: 2px solid #FF3E79;
        border-bottom: 2px solid #FF3E79;
        position: absolute;
        left:35%;
        top:35%;
        transform: rotate(-45deg);
    }
}
@media screen and (min-width: 768px) and (max-width: 1119px) {
    body {
        width: 100%;
        font-family: "TT Lakes", sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        margin: 0;
        padding: 0;
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
    }
    .swiper-container {
        display: none;
    }
    .header {
        padding-left: 20px;
        box-sizing: border-box;
        height:80px;
        background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    }
    .header__description {
        color: #7E7E82;
        text-transform: uppercase;
        vertical-align: middle;
    }
    .main__container-hidden {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width:97%;
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
        height:180px;
        overflow: hidden;
        align-content: space-between;
        position: relative;
    }
    .main__container-visible {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width:97%;
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        align-content: space-between;
        position: relative;
    }
    .firms__item {
        border: 1px solid #EAEAEA;
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        background-color: #FFFFFF;
        border-radius: 6px;
        box-sizing: border-box;
        width: 224px;
        height: 72px;
        margin-top: 16px;
        margin-right: 24px;
    }
    .firms__item:last-child {
        margin-right: 253px;
    }
    .firms__link {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #FF3E79;
        position: relative;
    }
    .firms__link:focus, .firms__link:active {
        background-color: #FF3E79;
        outline: none;
    }
    .firms__link:focus > .a__arrow, .firms__link:active > .a__arrow {
        border-bottom: 2px solid white;
        border-right: 2px solid white;
    }
    .a__arrow {
        width:8px;
        height: 8px;
        border-right: 2px solid #FF3E79;
        border-bottom: 2px solid #FF3E79;
        position: absolute;
        left:35%;
        top: 35%;
        transform: rotate(-45deg);
    }
    .firms__button-more {
        font-family: "TT Lakes", sans-serif;
        border: none;
        font-weight: 500;
        line-height: 24px;
        font-size: 16px;
        position: relative;
        left:50px;
        top:20px;
        tab-index: 2;
        background-color: transparent;
    }
    .firms__button-more::before {
        content:"";
        background-image: url("../img/more.svg");
        width:10px;
        height: 10px;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        left:-20px;
        top:7px;
    }
    .firms__button-more:focus {
        outline: none;
    }
    .firms__button-less {
        font-family: "TT Lakes", sans-serif;
        border: none;
        font-weight: 500;
        line-height: 24px;
        font-size: 16px;
        position: relative;
        left:50px;
        top:20px;
        tab-index: 2;
        background-color: transparent;
    }
    .firms__button-less::before {
        content:"";
        background-image: url("../img/more.svg");
        width:10px;
        height: 10px;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        left:-20px;
        top:7px;
        transform: rotate(180deg);
    }
    .firms__button-less:focus {
        outline: none;
    }
}
@media screen and (min-width: 1120px) {
    body {
        width: 100%;
        font-family: "TT Lakes", sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        margin: 0;
        padding: 0;
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
    }
    .swiper-container {
        display: none;
    }
    .header {
        padding-left: 20px;
        box-sizing: border-box;
        height:80px;
        background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    }
    .header__description {
        color: #7E7E82;
        text-transform: uppercase;
        vertical-align: middle;
    }
    .main__container-hidden {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width:95%;
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
        height:180px;
        overflow: hidden;
        align-content: space-between;
        position: relative;
    }
    .main__container-visible {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width:95%;
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
        height:260px;
        position: relative;
    }
    .firms__item {
        border: 1px solid #EAEAEA;
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        background-color: #FFFFFF;
        border-radius: 6px;
        box-sizing: border-box;
        flex-basis: 22%;
        height: 72px;
        margin-top: 16px;
        margin-right: 32px;
    }
    .firms__link {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #FF3E79;
        position: relative;
    }
    .a__arrow {
        width:8px;
        height: 8px;
        border-right: 2px solid #FF3E79;
        border-bottom: 2px solid #FF3E79;
        position: absolute;
        left:35%;
        top: 35%;
        transform: rotate(-45deg);
    }
    .firms__link:hover > .a__arrow {
        transform: translateX(2px) rotate(-45deg);
        transition: transform 0.3s ease;
    }
    .firms__link:focus, .firms__link:active {
        background-color: #FF3E79;
        outline: none;
    }
    .firms__link:focus > .a__arrow, .firms__link:active > .a__arrow {
        border-bottom: 2px solid white;
        border-right: 2px solid white;
    }
    .firms__button-more {
        font-family: "TT Lakes", sans-serif;
        border: none;
        font-weight: 500;
        line-height: 24px;
        font-size: 16px;
        position: relative;
        left:60px;
        top:20px;
        background-color: transparent;
    }
    .firms__button-more::before {
        content:"";
        background-image: url("../img/more.svg");
        width:10px;
        height: 10px;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        left:-20px;
        top:7px;
    }
    .firms__button-more:focus {
        outline: none;
    }
    .firms__button-less {
        font-family: "TT Lakes", sans-serif;
        border: none;
        font-weight: 500;
        line-height: 24px;
        font-size: 16px;
        position: relative;
        left:60px;
        top:20px;
        background-color: transparent;
    }
    .firms__button-less::before {
        content:"";
        background-image: url("../img/more.svg");
        width:10px;
        height: 10px;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        left:-20px;
        top:7px;
        transform: rotate(180deg);
    }
    .firms__button-less {
        outline: none;
    }
}