.call {
  position: absolute;
  display: flex;
  width:320px;
  height: 100%;
  transition: transform 0.5s ease;

  @media screen and (max-width: 1439px) {
    &-closed {
      transform: translateX(-400px);
      z-index: 11;
    }

    &-opened {
      transform: translateX(0px);
      z-index: 11;
    }
  }

  @media screen and (min-width: 1440px) {
    &-closed {
      transform: translateY(-1300px);
      right: 0;
      z-index: 999;
    }

    &-opened {
      transform: translateY(0px);
      right: 0;
      z-index: 1000;
      position: fixed;
    }
    .ui-button {
      position: relative;
    }
    &__button {
      position: absolute;
      transform: translateX(-70px);
    }
  }

  &__main {
    width:320px;
    background-color: $backgroundColor;
    box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02),
    16px 0 52px rgba(14, 24, 80, 0.2);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    padding: 24px 16px 24px 16px;
    position: relative;
  }

  &__title {
    position: relative;

    &::before {
      content: '';
      background-image: url("../img/bar.svg");
      position: absolute;
      width: 4px;
      height: 32px;
      left:-16px;
    }
  }

  .form {
    &__input {
      width: 100%;
      height: 48px;
      margin-bottom: 16px;
      font-size: 16px;
      font-family: "TT Lakes Light", sans-serif;
      box-sizing: border-box;
      padding-left: 16px;
      border-radius: 8px;
      border: 1px solid #EAEAEA;
    }

    &__submit {
      font-family: "TT Lakes Light", sans-serif;
      text-transform: uppercase;
      float:right;
      height: 32px;
      width: 136px;
      border-radius: 16px;
      background-color: $buttonColor;
      color: $backgroundColor;
      border: none;
      position: relative;
      padding-right: 20px;

      &::after {
        content: '';
        width:6px;
        height: 6px;
        border-right: 2px solid #FFFFFF;
        border-bottom: 2px solid #FFFFFF;
        position: absolute;
        right:20px;
        top:11px;
        transform: rotate(-45deg);
      }
    }
  }

  &__link {
    color: $buttonColor;
    text-decoration: none;
  }
}
