$bodyColor: #F8F8F8;
$backgroundColor: #FFFFFF;
$buttonColor: #FF3E79;
$activeColor: #7A0F30;
$hoverColor: #CC0C47;
$gradientBackground: linear-gradient(270deg, #FFFFFF 0%, #F8F8F8 98.61%);
$textColor: #7E7E82;
