.logo__link {
  position: relative;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    &::after {
      content: '';
      background-image: url("../img/divider.svg");
      width: 2px;
      height: 32px;
      position: absolute;
      right:-10%;
      top:-25px;
    }
  }
  @media screen and (min-width: 768px) {
    &::before {
      content: '';
      background-image: url("../img/divider.svg");
      width: 2px;
      height: 32px;
      position: absolute;
      left:-16px;
      top:-25px;
    }
  }
}
