th {
  color: $textColor;
  font-weight: normal;
  text-align: left;
  padding: 16px 10px;
}

td {
  background-color: $backgroundColor;
  border-bottom: 1px solid #EAEAEA;
  padding: 16px 10px;
}

.table {
  &__header {
    &-type {
      width:53%;
    }

    &-price {
      width:13%;
    }
  }

  &__type {
    &-name {
      width:53%;
    }

    &-price {
      width: 13%;
    }
  }
}
