
.ui__button {
  background-color: $buttonColor;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;

  &:active {
    background-color: $activeColor;
  }

  &:hover, &:focus {
    background-color: $hoverColor;
    outline: 0;
  }

  &--close {
    background-image: url("../img/close.svg");
    transition: transform 0.6s ease;
    &:hover, &:focus {
      transform: rotate(360deg);
    }
  }

  &--search {
    &:hover svg, &:focus svg {
      animation: grow 0.5s infinite alternate;
    }
  }
}
